In [1]:
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
orders = pd.read_csv('data/orders.csv')
order_products_prior = pd.read_csv('data/order_products__prior.csv')
products = pd.read_csv('data/products.csv')
aisles = pd.read_csv('data/aisles.csv')
departments = pd.read_csv('data/departments.csv')

In [3]:
orders

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
...,...,...,...,...,...,...,...
3421078,2266710,206209,prior,10,5,18,29.0
3421079,1854736,206209,prior,11,4,10,30.0
3421080,626363,206209,prior,12,1,12,18.0
3421081,2977660,206209,prior,13,1,12,7.0
3421082,272231,206209,train,14,6,14,30.0

In [5]:
orders['days_since_prior_order']

0           NaN
1          15.0
2          21.0
3          29.0
4          28.0
           ...
3421078    29.0
3421079    30.0
3421080    18.0
3421081     7.0
3421082    30.0
Name: days_since_prior_order, Length: 3421083, dtype: float64

In [6]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(5), object(1)
memory usage: 182.7+ MB

In [45]:
days_mean = orders.drop('eval_set', axis=1).groupby('user_id').mean()
days_mean

,order_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
user_id,,,,,
1,1.923450e+06,6.0,2.636364,10.090909,19.000000
2,1.768105e+06,8.0,2.066667,10.600000,16.285714
3,1.934104e+06,7.0,1.384615,16.307692,12.000000
4,1.507835e+06,3.5,4.500000,12.500000,17.000000
5,1.849579e+06,3.0,1.400000,15.000000,11.500000
...,...,...,...,...,...
206205,1.439588e+06,2.5,3.000000,14.750000,16.666667
206206,1.813826e+06,34.5,2.441176,16.779412,3.716418
206207,1.786525e+06,9.0,2.529412,12.529412,14.312500
206208,2.004526e+06,25.5,2.700000,14.200000,7.367347
206209,1.857468e+06,7.5,3.000000,13.642857,18.461538

In [43]:
orders

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
...,...,...,...,...,...,...,...
3421078,2266710,206209,prior,10,5,18,29.0
3421079,1854736,206209,prior,11,4,10,30.0
3421080,626363,206209,prior,12,1,12,18.0
3421081,2977660,206209,prior,13,1,12,7.0
3421082,272231,206209,train,14,6,14,30.0

In [35]:
orders.iloc[0].user_id

1